:host {
  display: block;
  text-align: center;
}

h2 {
  margin-block: 0 0.25em;
}

em {
  display: block;
  font-size: 0.875em;
  font-style: normal;
  margin-bottom: 1.5em;
}

.panes {
  display: grid;
}

.pane {
  grid-column: 1;
  grid-row: 1;
}

label {
  display: block;
  margin-bottom: 1em;
  text-align: left;
  transition: color 0.3s ease-in;

  span {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
  }

  &:last-child {
    margin-bottom: 2em;
  }

}

input {
  border: solid 1px;
  border-radius: 0.375em;
  padding: 0.75em;
  transition: border-color 0.3s ease-in, filter 0.3s ease-in;
  width: 20rem;
}

footer {
  font-size: 1em;
  text-align: left;

  p {
    margin-bottom: 1em;
  }

  ul {
    margin: 0 0 1.5em;
    padding: 0 1em;
  }

}

.continue {
  background-color: black;
  border: none;
  border-radius: 0.375em;
  color: white;
  display: block;
  min-height: 2.75rem;
  transition: opacity 0.25s ease-out, scale 0.25s ease-out;
  width: 100%;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    scale: 0.8;
  }

}

.back {
  background-color: transparent;
  border: none;
  display: block;
  opacity: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  transition: opacity 0.25s ease-out;

  &::before {
    content: '';
    display: block;
    height: 0.75em;
    width: 0.75em;

    border-block-start: solid 1.5px black;
    border-inline-start: solid 1.5px black;
    rotate: -45deg;
  }

  &.visible {
    opacity: 1;
  }

}
// body {
//   margin: 0;
//   padding: 0;
//   background: #fff;
//   color: #fff;
//   font-family: Arial;
//   text-align: center;
//   font-size: 12px;
//   display: flex;
//   height: 100vh;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   top: 30px;
// }

.body {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  // background-image: url(https://images4.alphacoders.com/114/1144182.jpg);
  background-image: url(../../../../assets/images/loginBg.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

#formDiv {
  height: 200px;
  width: 700px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(1px); /* Slight blur */
  backdrop-filter: blur(1px); /* Slight blur */
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05); /* Reduced opacity for the blur effect */
  background-color: rgba(255, 255, 255, 0.03); /* More transparent background color */
  z-index: 1; /* Ensure it is below the header and login but above .body */
}



.header {
  position: absolute;
  top: calc(48% - 35px);
  left: calc(47% - 255px);
  z-index: 2;
}

.header div {
  float: left;
  color: #fff;
  font-family: 'Fredoka One';
  font-size: 55px;
  font-weight: 200;
}

.header div span {
  color: #542b67 !important;
}

.login {
  position: absolute;
  top: calc(49% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 400;
  padding: 4px 4px 2px 10px;
}

.login input[type=password] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 4px 2px 10px;
  margin-top: 10px;
}

.login input[type=button] {
  transition: all 0.4s ease;
  width: 260px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 6px;
  margin-top: 10px;
  border: 1px solid rgba(255,255,255,0.8);
}

.login input[type=button]:hover {
  opacity: 0.8;
  color: black;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
}

.login input[type=button]:active {
  opacity: 0.6;
}

.login input[type=text]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
  color: rgba(255,255,255,0.6);
}
