:host {
    display: grid;
    inset: 0;
    isolation: isolate;
    place-items: center;
    position: fixed;
  }
  
  div {
    background-color: white;
    filter: drop-shadow(0 0 max(0.1875rem, 3px) rgba(0, 0, 0, 22.5%));
    padding: 2.5em;
    position: relative;
  }
  
  .close {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    position: absolute;
    top: 1em;
    right: 1em;
  
    svg {
      width: 1em;
    }
  
  }
  
  .shield {
    background: rgba(black, 0.6);
    border: 0;
    inset: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
  }
  