<!-- <h2>{{ 'home.pageTitle' | translate }}</h2>

<select #langSelect (change)="translate.use(langSelect.value)">
    @for(lang of translate.getLangs(); let i=$index; track i){
        <option [value]="lang" [selected]="lang === translate.currentLang">{{lang}}</option>
    }
</select>

<h1>{{ 'welcomeTitle' | translate }}</h1>
<p>{{ 'welcomeMessage' | translate }}</p>
<button (click)="switchLanguage('en')">English</button>
<button (click)="switchLanguage('fr')">French</button> -->
<!--
<div class="wrap">
    <div class="box1">Box One</div>
    <div class="box2">Box two</div>
</div> -->
<!-- <div class="box1"></div>
    <div class="box2"></div> -->
<!-- <div class="box"></div> -->
<!-- <div [ngStyle]="{'background': gradientBackground}">
    This is a box with a gradient background.
</div>

<div style="margin-top: 20px; text-align: center;">
    <label for="color1">Select First Color:</label>
    <select id="color1" [(ngModel)]="color1" (ngModelChange)="updateGradient()">
        <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
    </select>

    <label for="color2">Select Second Color:</label>
    <select id="color2" [(ngModel)]="color2" (ngModelChange)="updateGradient()">
        <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
    </select>
</div> -->
<div class="container">
    <div class="row">
        <div class="col">
            <form class="form-floating mt-3" #form="ngForm">
                <input type="email" class="form-control"
                  [ngClass]="{'is-invalid': floatingInputValue.invalid && floatingInputValue.touched}"
                  id="floatingInputValue" placeholder="name@example.com" [ngStyle]="{'background': backgroundColor}"
                  ngModel  name="email" #floatingInputValue="ngModel"  required>
                <label [ngClass]="{'text-danger-cus': floatingInputValue.invalid && floatingInputValue.touched}" [ngStyle]="{'color': fontColor}" for="floatingInputValue">Input with value</label>
                <div *ngIf="floatingInputValue.invalid && floatingInputValue.touched" class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- <div class="drop-shadow">
    <div class="glass"></div>
      <span>GLASS</span>
      </div> -->


      <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="file">Upload File</label>
          <input type="file" id="file" (change)="onFileSelect($event, 'file')" formControlName="file" />
          <div *ngIf="fileForm.get('file')?.hasError('required')">
            File is required.
          </div>
          <div *ngIf="fileForm.get('file')?.hasError('fileType')">
            Invalid file type. Only JPEG and PNG files are allowed.
          </div>
          <div *ngIf="fileForm.get('file')?.hasError('fileSize')">
            File size exceeds the maximum limit of 5MB.
          </div>
        </div>
        <button type="submit" [disabled]="fileForm.invalid">Submit</button>
      </form>

<app-open-close></app-open-close>
