<br><br><br>
<p>Welcome from home</p>
<br>
<form [formGroup]="testForm">
    <app-ngx-editor [formGp]="testForm" formCtrlName="test"></app-ngx-editor>
    <!-- <p>{{testForm.get('test1')?.value}}</p> -->
     <input Uppercase formControlName="test1" type="text">
    <p>{{testForm.get('test2')?.value}}</p>
    <p>{{testForm.get('test3')?.value}}</p>
    <button (click)="submitTesting()">Testing</button>
</form>
<iframe [src]="boundMapUrl"
width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<app-signal-test></app-signal-test>