<ng-container [formGroup]="formGp" >
    <div>
        <label>
            @if (!showLabel) {
                <span [ngClass]="{'text-danger': invalidAndTouched}" >{{label}}</span>
            }
                <input [type]="type" [formControlName]="formCtrlName" [placeholder]="placeholder" 
                [ngClass]="{'invalid-border': invalidAndTouched}"/>
        </label>
    </div>
    <app-error-messages [formGp]="formGp" [formCtrlName]="formCtrlName" [label]="label"></app-error-messages>
</ng-container>