<!-- <div class="container my-5 w-25">
  <div class="card rounded shadow">
    <div class="card-header text-center">
      @if (loginOrNot){
      <h4>Sign in</h4>
      }@else{
      <h4>Sign up</h4>
      }
    </div>
    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <form [formGroup]="signForm" class="d-flex flex-column align-items-center">
          <div class="example-container">
            @if (!loginOrNot) {
              <app-cus-mat-input [formG]="signForm" formCN="name" label="Name" [makeFirstCharUpper]="true" class="w-100"></app-cus-mat-input>
            }
            <app-cus-mat-input [formG]="signForm" formCN="email" label="Email" class="w-100"></app-cus-mat-input>
            <br>
            <app-cus-mat-input [formG]="signForm" formCN="password" label="Password" [showEye]="true"
              class="w-100"></app-cus-mat-input>
            @if (!loginOrNot) {
              <app-cus-mat-input (blurEvent)="checkDuplication($event)" [formG]="signForm" formCN="confirmPassword" label="Confirm Password" [showEye]="true"
              class="w-100"></app-cus-mat-input>
            }@else{
              <button mat-button color="success" class="w-100">forgot password</button>
            }
            <br>
          </div>
          <button mat-button color="success" class="w-100" (click)="signInOrUp()">
            {{ loginOrNot ? 'Sign In' : 'Sign Up' }}
          </button>
          <small>If you {{ loginOrNot ? "don't" : "already" }} have an account, you can 
            <a mat-button routerLink="{{ loginOrNot ? '/signup' : '/signin' }}">
              {{ loginOrNot ? 'sign up' : 'sign in' }}
            </a>
          </small>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div class="container my-5 w-25">
  <div class="card rounded shadow">
    <div class="card-header text-center">
      <h2>Sign Up</h2>
      <em>Hello! Welcome to the family.</em>
      <form [formGroup]="signForm">
        <div #panes [@paneChange]="{
            value: activePane(),
            params: {
              startHeight: panes.clientHeight
            }
          }" class="panes">
          @switch(activePane()) {
          @case(0) {
          <div class="pane">
            <app-cus-input [formGp]="signForm" formCtrlName="name" label="Name" placeholder=""></app-cus-input>
            <app-cus-input [formGp]="signForm" formCtrlName="email" label="Email" placeholder=""></app-cus-input>
          </div>
          }
          @case(1) {
          <div class="pane">
            <app-cus-input [formGp]="signForm" formCtrlName="password" label="Password" placeholder=""></app-cus-input>
            <app-cus-input [formGp]="signForm" formCtrlName="confirmPassword" label="Confirm Password"
              placeholder=""></app-cus-input>
            <footer>
              <p>Password must contain:</p>
              <ul>
                <li>At least 8 characters</li>
                <li>At least 1 lowercase character</li>
                <li>At least 1 uppercase character</li>
                <li>At leaset 1 number or special character</li>
              </ul>
            </footer>
          </div>
          }
          }
        </div>

        @if(activePane() === 0){
        <button (click)="setActiveStep()" class="continue">
          Continue
        </button>
        }@else{
        <!-- <button (click)="setActiveStep()" class="back" class="visible" title="Previous Step">
            <span class="visually-hidden">Previous Step</span>
          </button> -->
        <button (click)="setActiveStep()" class="continue" title="Previous Step">
          <span>Previous Step</span>
        </button>
        }
      </form>
    </div>
  </div>
</div>